* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
#app {
  width: 480px;
  height: 100vh;
  margin: 0 auto;
  background-color: #eee;
}
#topbar {
  position: fixed;
  width: 480px;
}
#inputbar {
  background-color: greenyellow;
  height: 60px;
  display: flex;
  border: 1px solid grey;
}
#inputbar input {
  flex-grow: 1;
  font-size: 24px;
  color: grey;
  padding-left: 15px;
  border: none;
  border-right: 1px solid grey;
}
#inputbar button {
  width: 60px;
  border: none;
  background-color: greenyellow;
  background-image: url("https://uploads.codesandbox.io/uploads/user/755e8f8b-075d-4c9c-853e-9d3f7169f0ec/9kEo-save.png");
  background-repeat: no-repeat;
  background-position: center;
}
#inputbar button:active {
  background-color: #ccffcc;
}

#minstockbar {
  display: flex;
  height: 60px;
  border: 1px solid grey;
  border-top: none;
}
#minstockbar * {
  width: 25%;
}
#minstockbar span {
  text-align: center;
  padding: 20px 0;
}
#minstockbar h2 {
  text-align: center;
  padding: 20px 0;
}
#minstockbar button {
  background-color: greenyellow;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
#minstockbar button:active {
  background-color: #ccffcc;
}
#minstockbar .plus {
  background-image: url("https://uploads.codesandbox.io/uploads/user/755e8f8b-075d-4c9c-853e-9d3f7169f0ec/oZb5-add.png");
}
#minstockbar .minus {
  background-image: url("https://uploads.codesandbox.io/uploads/user/755e8f8b-075d-4c9c-853e-9d3f7169f0ec/jG9d-remove.png");
}
