* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
}
button:focus {
  outline: none;
}
#app {
  width: 480px;
  height: 100vh;
  margin: 0 auto;
  background-color: #ddd;
  background-image: url('https://uploads.codesandbox.io/uploads/user/755e8f8b-075d-4c9c-853e-9d3f7169f0ec/rM3l-empty.png');
  background-repeat: no-repeat;
  background-position: center 200px;
}
.hidden {
  display: none !important;
}
